<!--
  Generated template for the AddcardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fidelityBlue">
    <ion-title>Select Payment Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="app-content">
  <ion-card class="card-warning" *ngIf="!cards.length">
    <ion-card-content class="card-content">
      You currently do not have any payment card on file with us and we require one in order to pay out your loan. 
      You can still pay your loan through other methods, however we reserve the right to debit this card for any remaining balance after the due date. 
      <div align="center" style="margin-top:30px">
        <!--<button ion-button color="fidelityGreen" (click)="addCardDetails()" class="paymentcard-button" round>Add Payment Card</button>-->
        <button ion-button color="fidelityGreen" (click)="addCardDetails()" class="paymentcard-button" round>Confirm loan</button>
      </div>
      <div align="center">
        <button ion-button color="fidelityGreen" (click)="exitLoanOffer()" class="custom-button" round>Exit</button>
      </div>
    </ion-card-content>
  </ion-card>
<p style="margin-left:10px" *ngIf="hasCard">Please select a payment card below to associate with your loan</p>
<ion-card *ngIf="cards.length" style="padding-bottom: 50px; border-radius:10px">
  <ion-list class="addaccount-list">
    <!--<button *ngIf="!isReadyToProceed" ion-item style="font-size:20px">
      Select Card
    </button>-->
    <button  (click)="showCardlist()" ion-item style="font-size:20px">
      <div *ngIf="!cardSelected">
        Select Card
      </div>
      <div *ngIf="cardSelected">
        <p>MasterCard</p>
        <p>*****************6790</p>
      </div>
    </button><hr/>

    <button ion-item style="font-size:20px" (click)="addCardDetails()">
      <ion-icon style="font-size:50px" name="ios-add-circle" color="fidelityGreen" item-start></ion-icon>
      Add new card
    </button>

  </ion-list>
  <div align="center" style="margin-top:70px">
    <button ion-button color="fidelityGreen" [disabled]="!isReadyToProceed" (click)="gotoConfirmLoan()" class="custom-button" round>Proceed</button>
  </div>
</ion-card>
</ion-content>
