<ion-header no-border>

  <ion-navbar transparent>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="app_bg" style="height: 100%">
  <form *ngIf="form" [formGroup]="form" (submit)="submit()">
    <!-- <div align="center" style="margin-top:100px">
      <p *ngIf="hasQuestion" style="color:#FFFFFF; font-size:18px">Question: {{ question }}</p>
      <ion-item>
        <ion-input type="tel" formControlName="phoneNumber" name="phoneNumber" placeholder="Phone Number" (keyup)="press($event.target.value)"></ion-input>
      </ion-item>
      <div align="center" *ngIf="isBusy">
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <ion-item *ngIf="hasQuestion">
        <ion-input type="text" formControlName="answer" name="asnwer" placeholder="Secret Answer"></ion-input>
      </ion-item>
      <ion-item *ngIf="hasQuestion">
        <ion-input type="password" formControlName="newPassword" name="newPassword" placeholder="New Password"></ion-input>
      </ion-item>
      <div *ngIf="!form.controls.newPassword.valid && form.controls.newPassword.dirty">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>
      <ion-item *ngIf="hasQuestion">
        <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <div *ngIf="(form.controls.newPassword.valid) && (form.controls.confirmPassword.value != form.controls.newPassword.value && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password did not match</p>
      </div>
      <div *ngIf="(!form.controls.newPassword.valid) && (!form.controls.confirmPassword.valid && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>
    </div> -->

    <div  align="center" style="margin-top:100px">
      <!-- <p *ngIf="hasHint" style="color:#FFFFFF; font-size:18px">Hint: {{ hintStyle }}</p> -->
      <p *ngIf="hasQuestion"  style="color:#FFFFFF; font-size:18px">Question: {{ question }}</p>
      <ion-item>
        <ion-input type="tel" formControlName="phoneNumber" name="phoneNumber" placeholder="Phone Number" (keyup)="press($event.target.value)"></ion-input>
        <!-- <ion-input type="tel" [hidden]="true" value="secretQuestionTryCount"></ion-input> -->
      </ion-item>
      <div align="center" *ngIf="isBusy">
        <ion-spinner name="dots"></ion-spinner>
      </div>

      <!-- <div *ngIf="hasQuestion || hasHint"> -->
          <div *ngIf="hasQuestion">
      <ion-item>
        <ion-input type="text" formControlName="answer" name="asnwer" placeholder="Secret Answer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="newPassword" name="newPassword" placeholder="New Password"></ion-input>
      </ion-item>

      <div *ngIf="!form.controls.newPassword.valid && form.controls.newPassword.dirty">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>
      <ion-item>
        <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <div *ngIf="(form.controls.newPassword.valid) && (form.controls.confirmPassword.value != form.controls.newPassword.value && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password did not match</p>
      </div>
      <div *ngIf="(!form.controls.newPassword.valid) && (!form.controls.confirmPassword.valid && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>

    </div>

    <!-- <div *ngIf="hasHint">
      <ion-item>
        <ion-input type="text" formControlName="answer" name="asnwer" placeholder="Secret Answer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" formControlName="newPassword" name="newPassword" placeholder="New Password"></ion-input>
      </ion-item>

      <div *ngIf="!form.controls.newPassword.valid && form.controls.newPassword.dirty">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>
      <ion-item>
        <ion-input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password"></ion-input>
      </ion-item>
      <div *ngIf="(form.controls.newPassword.valid) && (form.controls.confirmPassword.value != form.controls.newPassword.value && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password did not match</p>
      </div>
      <div *ngIf="(!form.controls.newPassword.valid) && (!form.controls.confirmPassword.valid && form.controls.confirmPassword.dirty)">
        <p class="input-error">Password must contain a number, a capital letter, a small letter, a symbol and must be at least 8 character length</p>
      </div>

    </div> -->
    </div>

    <div align="center" style="margin-top:30px">
        <button ion-button [disabled]="!isReadyToProceed" style="width: 285px;height: 50px;border: 1px solid #FFFFFF;box-sizing: border-box;border-radius: 2px;background-color: transparent !important">Submit</button>
    </div>
    <div align="center">
        <p style="height: 16px;font-style: normal;font-weight: normal;line-height: normal;font-size: 13px;text-align: center;color: #E5E5E5;">Already have an account? <a (click)="gotoLogin()">Sign in</a></p>
    </div>
  </form>
</ion-content>

